header {
  height: 520px;
  width: 100%;
  background-color: #FFA500;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.header-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-avatar {
  margin-top: 140px;
}