nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-family: 'Bungee', sans-serif;
}

.nav-tweet-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .arrow-down {
  display: flex;
  justify-content: center;
} */